{% extends 'phoenix/base.html' %}
{% load bootstrap3 %}

{% block title %}
    Phoenix
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-12 meta-info">
            <table class="table">
                <caption>Rules Info</caption>
                <thead>
                    <tr>
                        <th>Rule</th>
                        <th>Services</th>
                        <th>Attributes</th>
                        <th>Fetch</th>
                    </tr>
                </thead>
                <tbody>
                    {% if rules_list %}
                        {% for rule in rules_list %}
                            <tr>
                                <td>{{rule.name}}</td>
                                <td class="services-list">{{rule.services}}</td>
                                <td class="attributes-list">{{rule.attributes}}</td>
                                <td><a href="#" data-id="{{rule.id}}">Crunch Data</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
